<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table align="center">
  <tr th:if="${error != null}">
    <td><div>[[${error}]]</div></td>
  </tr>
  <tr th:if="${message != null}">
    <td><div>[[${message}]]</div></td>
  </tr>
  <tr>
    <td><h1> Forgot Password </h1></td>
  </tr>
  <br>
  <form th:action="@{/forgotPassword}" method="POST">
    <tr>
      <td><label> Email Id : </label></td><td><input type="email" name="email" placeholder="Enter your Email ID"></td>
    </tr>
    <tr>
      <td align="right"><input type="submit" value="Send"/></td>
    </tr>
    <br>
    <br>
  </form>
</table>
</body>
</html>
