<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<table align="center">
    <tr>
        <td><h1> Reset Password </h1></td>
    </tr>
    <br>
    <form th:action="@{/resetPassword}" method="POST">
        <input type="hidden" name="token" th:value="${token}" />
        <tr>
            <td><label> New Password : </label></td><td><input type="password" name="password" id="password"
                                                           placeholder="Enter your new password" required autofocus />
                                                </td>
        </tr>
        <tr>
            <td><label> Confirm Password : </label></td><td><input type="password" class="form-control"
                                                                   placeholder="Confirm your new password"
                                                                   required oninput="checkPasswordMatch(this);" />
                                                        </td>
        </tr>
        <tr>
            <td align="right"><input type="submit" value="Send"/></td>
        </tr>
        <br>
        <br>
    </form>
</table>
<script th:inline="javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>