<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show All News</title>
</head>
<body>
<div th:unless="${ADMIN} OR ${sessionUser} != null">
    <form th:action="@{/login}">
        <button name="Login" type="submit">Login</button>
    </form>
</div>
<div align="right">
    <th:block th:if="${admin} OR ${sessionUser} != null">
        <form th:action="@{/logout}">
            <button name="Login" sec:authorize="isAuthenticated()" type="submit">Logout</button>
        </form>
    </th:block>
</div>
<table align="center" width=50%; height=60px; style="border:1px black solid;">
    <tr>
        <td colspan="5">
            <div>
                <a th:href="@{/}"><b>Hacker News</b></a>&nbsp;
                <th:block th:if="${admin} OR ${sessionUser} != null">
                    <a th:href="@{/welcome}">Welcome</a>&nbsp;
                </th:block>
                <a th:href="@{'/newNews/' + ${currentPage}+ '?sortField=id&sortDirection=desc' + '&keyword='
                    + ${keyword}}">New</a>&nbsp;
                <a th:href="@{'/pastNews/' + ${currentPage}+ '?sortField=id&sortDirection=asc' + '&keyword='
                    + ${keyword}}">Past</a>&nbsp;
                <a href="#news">Comments</a>&nbsp;
                <a href="#contact">Ask</a>&nbsp;
                <a href="#about">Show</a>&nbsp;
                <a href="#news">Jobs</a>&nbsp;
                <a th:href="@{/createNewNews}">Submit</a>&nbsp;
            </div>
        </td>
    </tr>
    <tr th:each="news : ${newsList}" th:if="${news.content} == null">
        <td th:if="!${news.likeByUser}" style="width:10%">
            <form th:action="@{/addLike/{newsId}(newsId=${news.id})}" method="post">
                <button>Like</button>
                [[${news.pointsPerPost}]]
            </form>
        </td>
        <td th:if="${news.likeByUser}">
            <form th:action="@{/removeLike/{newsId}(newsId=${news.id})}" method="post">
                <button>Unlike</button>
                [[${news.pointsPerPost}]]
            </form>
        </td>
        <td><h5><a th:href="${news.url}">[[${news.title}]]</a></h5>
            <h6 th:text="${news.createdAt}"></h6>
            <a th:href="@{'/editNews/' + ${news.id}}">Edit</a>
            <a th:href="@{'/deleteNews/' + ${news.id}}">Delete</a>
            <a th:href="@{'/newsOpen/'+${news.id}}">Comments</a>
        </td>
    </tr>
    <tr>
        <td><a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}">Next</a>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <form th:action="'/page/' + ${currentPage} + '?sortField=publishedAt&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortDir}">
                <input type="text" name="keyword" th:value="${keyword}">
                <button type="submit">Search</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>