<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show All News</title>
</head>
<body>
<table align="center">
    <tr>
        <td>
            <div>
                <a href="#home"><b>Hacker News</b></a>&nbsp;
                <a href="#news">Welcome</a>&nbsp;
                <a href="#news">New</a>&nbsp;
                <a href="#about">Past</a>&nbsp;
                <a href="#news">Comments</a>&nbsp;
                <a href="#contact">Ask</a>&nbsp;
                <a href="#about">Show</a>&nbsp;
                <a href="#news">Jobs</a>&nbsp;
                <a th:href="@{/newNews}">Submit</a>&nbsp;
            </div>
        </td>
    </tr>
    <tr th:each="news : ${newsList}" th:if="${news.content} == ''">

        <div>
            <div class="title">
                <td><h4><a th:href="${news.url}">[[${news.title}]]</a></h4>
                <h6 th:text="${news.createdAt}"></h6></td>
            </div>
        </div>
    </tr>
</table>
</body>
</html>